enxtends layout

block content
  .container
    .row
      .col-md-6
        .row
          .col-md-12
            .panel.panel-default
              .panel-heading Step 1
              .panel-body Enter some address data below (you do not need to fill in all of the information), click 'search' and select one of the results.
              .panel-body If the location does not have a physical address, check 'online only'. You can still fill in any applicable fields below (such as country), however the location will not appear in map results.
        form#geoloc-form.form-horizontal(role="form")
          .form-group
            .col-md-8.col-md-offset-4
              .checkbox
                label
                  input(type="checkbox" id='online-only-checkbox')
                  span Online Only
          .form-group
            label.col-md-4.control-label(for="country") Country
            .col-md-8
              input.form-control(type="text", name="country", id="country", placeholder="e.g. Australia")
          .form-group
            label.col-md-4.control-label(for="state") State
            .col-md-8
              input.form-control(type="text", name="state", id="state", placeholder="e.g. WA")
          .form-group
            label.col-md-4.control-label(for="city") City/Suburb
            .col-md-8
              input.form-control(type="text", name="city", id="city", placeholder="e.g. North Perth")
          .form-group
            label.col-md-4.control-label(for="street") Number/Street
            .col-md-8
              input.form-control(type="text", name="street", id="street", placeholder="e.g. 123 Fake St")
          .form-group
            label.col-md-4.control-label(for="postcode") Postcode
            .col-md-8
              input.form-control(type="text", name="postcode", id="postcode", placeholder="e.g. 6000")
          .form-group
            .col-md-8.col-md-offset-4
              button.btn.btn-success#geoloc-submit(type="submit") Search
        .row
          .col-md-8.col-md-offset-4
            div#geoloc-results
      .col-md-6
        .row
          .col-md-12
            .panel.panel-default
              .panel-heading Step 2
              .panel-body Fill in any additional details below and submit the location to the database.
        form#new-loc-form.form-horizontal(role="form")
          .form-group
            label.col-md-4.control-label(for="name") Name
            .col-md-8
              input.form-control(type="text", name="name", placeholder="e.g. Tom's Taiji Place")
          .form-group
            label.col-md-4.control-label(for="categories") Categories
            .col-md-8
              .checkbox
                label
                  input(type="checkbox" value="quan" name="categories[]")
                  span Martial Taiji Quan
              .checkbox
                label
                  input(type="checkbox" value="fitness" name="categories[]")
                  span Fitness and Excercise Taiji
              .checkbox
                label
                  input(type="checkbox" value="health" name="categories[]")
                  span Health and Traditional Chinese Medicine
              .checkbox
                label
                  input(type="checkbox" value="arts" name="categories[]")
                  span Arts, Calligraphy and Chinese Culture
              .checkbox
                label
                  input(type="checkbox" value="lifestyle" name="categories[]")
                  span Lifestyle and Clothing
              .checkbox
                label
                  input(type="checkbox" value="education" name="categories[]")
                  span Wisdom, Philosophy Education
          .form-group
            label.col-md-4.control-label(for="phone") Landline Number
            .col-md-8
              input.form-control(type="text", name="phone", placeholder="e.g. 9300 0001")
          .form-group
            label.col-md-4.control-label(for="mobile") Mobile Number
            .col-md-8
              input.form-control(type="text", name="mobile", placeholder="e.g. 04305 4433")
          .form-group
            label.col-md-4.control-label(for="email") Email
            .col-md-8
              input.form-control(type="email", name="email", placeholder="e.g. tom@tomstaiji.com.au")
          .form-group
            label.col-md-4.control-label(for="website") Website
            .col-md-8
              input.form-control(type="url", name="website", placeholder="e.g. http://tomstaiji.com.au")
          .form-group
            label.col-md-4.control-label(for="facebook") Facebook
            .col-md-8
              input.form-control(type="url", name="facebook", placeholder="e.g. http://facebook.com/tomstaiji")
          .form-group
            label.col-md-4.control-label(for="twitter") Twitter
            .col-md-8
              input.form-control(type="url", name="twitter", placeholder="e.g. http://twitter.com/tomstaiji")
          .form-group
            .col-md-8.col-md-offset-4
              button.btn.btn-success#new-loc-submit(type="submit") Submit New Location

block append scripts
    script(src="/scripts/lib/jquery.serialize-object.min.js")
    script(src="/scripts/new.js")
