doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block styles
      link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
      link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
      link(rel="stylesheet", href="/style.css")
    title Taiji Cloud - Admin
  body
    block nav
      .nav(role="navigation").navbar.navbar-default
        .container
          .navbar-header
            a(href="/").navbar-brand Admin
            ul.nav.navbar-nav
              li: a(href="/") Dashboard
              li: a(href="/map") Map
              li: a(href="/new") Add New Location
    block content
    block scripts
      script(src="//code.jquery.com/jquery-2.1.1.min.js")
      script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
