extends layout

block content
  .container
    for location in locations
      .row
        .col-md-6.col-md-offset-3
          h2 #{location.key}
      .row
        .col-md-6.col-md-offset-3
          table(style="width: 100%").table.table-striped
            each val, key in location.value
              tr
                td #{key}
                td #{val}
      hr(style="width: 20%") 
