extends layout

block append styles
  link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css")

block content
  .container
    .row
      .col-lg-8
        #map(style="height: 500px")
      .col-lg-4
        #results

block append scripts
  script(src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js")
  script(src="/scripts/map.js")
