extends layout

block append styles
  link(rel="stylesheet", href="https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.css")

block content
  .container-fluid
    .row
      .map

block append scripts
  script(href="https://api.tiles.mapbox.com/mapbox.js/v2.0.1/mapbox.js")
  script(href="/scripts/map.js")
