extends layout

block append styles
  link(rel="stylesheet", href="https://api.tiles.mapbox.com/mapbox.js/v2.1.1/mapbox.css")

block content
  .container
    .row
      .col-lg-12
        #map

block append scripts
  script(src="https://api.tiles.mapbox.com/mapbox.js/v2.1.1/mapbox.js")
  script(src="/scripts/map.js")
